table {
  display: flex;
  width: 100%;
}

tbody {
  margin: 0 auto;
  width: 90%;
}

tr {
  border: solid 1px $off-yellow;
  display: flex;
  margin: 0 auto;
  width: 100%;

  > * {
    font-weight: 400;
  }
}

th,
td {
  border: solid 1px $off-yellow;
}

td {
  text-align: center;
}

.date {
  width: 17%;
}

.name {
  width: 17%;
}

.note {
  width: 65%;
}

.table-heading > * {
  font-weight: 600;
}

.selection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 1rem;
  width: 30%;
}
